{% extends 'base.html' %}
{% block content %}

    <p>Welcome to the KRC Detention Notification app. To get started, enter a trip number!</p>
    <ul>
      <li>Please do not use the back or refresh buttons while using this app. This can lead to unexpected behavior.</li>
      <li>Sometimes sending the notifications can take a minute or more. Please do not refresh or close the page while it is still loading.</li>
    </ul>

    <form action="" method="post" name="undel-notify">
      {{ form.hidden_tag() }}
      {{ form.freight_bills }}
      {{ form.reason }}
      {% for error in form.freight_bills.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      <input class="btn btn-default" type="submit" value="Send notification">
    </form>

{% endblock %}
