{% extends 'base.html' %}
{% block content %}

    <p>Confirm Undelivered Notification</p>
    <ul>
      <li>Please do not use the back or refresh buttons while using this app. This can lead to unexpected behavior.</li>
      <li>Sometimes sending the notifications can take a minute or more. Please do not refresh or close the page while it is still loading.</li>
    </ul>

    <form action="" method="post" name="undel-notify">
      {{ form.hidden_tag() }}
      {{ form.freight_bills.label }}
      {{ form.freight_bills(class_='list-unstyled') }}
      {{ form.reason.label}}
      {{ form.reason(class_='form-control') }}
      {{ form.notes.label}}
      {{ form.notes(class_='form-control') }}
      {% for error in form.freight_bills.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      <input class="btn btn-default" type="submit" value="Send notification">
    </form>

{% endblock %}
