{% extends 'base.html' %}
{% block content %}

    <p>Welcome to the KRC Dispatch Notifications app. To get started, enter a trip number!</p>
    <ul>
      <li>Please do not use the back or refresh buttons while using this app. This can lead to unexpected behavior.</li>
      <li>Sometimes sending the notifications can take a minute or more. Please do not refresh or close the page while it is still loading.</li>
    </ul>

    <form action="" method="post" name="trip-number">
      {{ form.hidden_tag() }}
      {{ form.trip_no(class_='form-control') }}
      {% for error in form.trip_no.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      <input class="btn btn-default" type="submit" value="Find Trip">
    </form>

    {% if trip %}
      <table class="table">
        <tr>
          <th>Trip</th>
          <th>Status</th>
          <th>Zone</th>
          <th>Description</th>
          <th>Driver</th>
          <th>P. Unit</th>
          <th>Trailer</th>
        </tr>
        <tr>
          <td>{{ trip.trip_number }}</td>
          <td>{{ trip.status }}</td>
          <td>{{ trip.current_zone }}</td>
          <td>{{ trip.description }}</td>
          <td>{{ trip.driver }}</td>
          <td>{{ trip.punit }}</td>
          <td>{{ trip.trailer }}</td>
        </tr>
      </table>

      {% for stop, bills in stops %}
        <div class="panel panel-default">
          <div class="panel-heading">{{ stop }}</div>
          <table class="table fb-table">
            <tr>
              <th>FB#</th>
              <th>CSR</th>
              <th>Customer</th>
              <th>Pickup DNES</th>
              <th>Delivery DNES</th>
            <tr>
            {% for bill in bills %}
              <tr>
                <td>{{ bill.bill_number }}</td>
                <td>{{ bill.sales_agent }}</td>
                <td>{{ bill.billto.name }}</td>
                <td>{{ bill.pu_notify|get_date }}</td>
                <td>{{ bill.del_notify|get_date }}</td>
              </tr>
            {% endfor %}
          </table>
          <a class="btn btn-default" href="{{ url_for('send_detention', stop=stop) }}">Send Detention Notification</a>
          <a class="btn btn-default" href="{{ url_for('send_late', stop=stop) }}">Send Undelivered Notification</a>
        </div>
      {% endfor %}

    {% endif %}

{% endblock %}
